.historial-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  text-align: left;
  background-color: #f0f2f5; /* Fondo neutro */
  border-radius: 12px;
}

.historial-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 2rem;
}

.card {
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 12px;
  background: linear-gradient(135deg, #9bdae2, #652174); /* Gradiente sutil */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card p {
  font-size: 2pc;
  text-align: center;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card-alt {
  background: linear-gradient(135deg, #ec8f8f, #b6d229);
}

.btn-back {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #ce648d;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-back:hover {
  background-color: #c33d1485;
}