<div class="container">
  <div class="game-area">
    <div class="gallows">
      <div class="vertical-post"></div>
      <div class="horizontal-beam"></div>
      <div class="rope" *ngIf="intentos >= 1"></div>
    </div>
    <div class="hangman">
      <div class="cabeza" *ngIf="intentos >= 1"></div>
      <div class="cuerpo" *ngIf="intentos >= 2"></div>
      <div class="brazo izquierdo" *ngIf="intentos >= 3"></div>
      <div class="brazo derecho" *ngIf="intentos >= 4"></div>
      <div class="pierna izquierda" *ngIf="intentos >= 5"></div>
      <div class="pierna derecha" *ngIf="intentos >= 6"></div>
    </div>
  </div>

  <div class="mensaje" *ngIf="mensaje">
    <h2>{{ mensaje }}</h2>
  </div>

  <div class="palabra">
    <span *ngFor="let letra of palabraOculta">{{ letra }}</span>
  </div>

  <div class="teclado" [class.disabled]="gameOver">
    <button *ngFor="let letra of abecedario" 
            [class.correcto]="letrasUsadas.has(letra) && palabra.includes(letra)"
            [class.incorrecto]="letrasUsadas.has(letra) && !palabra.includes(letra)"
            (click)="verificarLetra(letra)"
            [disabled]="letrasUsadas.has(letra) || gameOver">
      {{ letra }}
    </button>
  </div>

  <!-- Botón para reiniciar el juego -->
  <button class="reiniciar" (click)="reiniciarJuego()">Reiniciar</button>
</div>
